# --- General ---
PROJECT_NAME=DWH
ENV=dev

# --- PostgreSQL (Target DWH) ---
DWH_DB=dwh_prod
DWH_USER=postgres
DWH_PASSWORD=postgres
DWH_HOST=localhost
DWH_PORT=5432

# --- Dagster (Orchestration) ---
DAGSTER_HOME=/opt/dagster/dagster_home
DAGSTER_PG_DB=dagster_meta
DAGSTER_PG_USER=postgres
DAGSTER_PG_PASSWORD=postgres
DAGSTER_PG_HOST=localhost

# --- Kafka (Middleware) ---
KAFKA_BROKERS=localhost:9092
ZOOKEEPER_CONNECT=localhost:2181

# --- Airbyte ---
AIRBYTE_USERNAME=airbyte
AIRBYTE_PASSWORD=password
AIRBYTE_PORT=8000

# --- Spark ---
SPARK_MASTER=spark://localhost:7077
